Source: sirocco-server
Section: misc
Priority: optional
Maintainer: Gregoire Lejeune <gregoire.lejeune@enovance.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4

Package: sirocco-server
Architecture: all
Depends: dbconfig-common, openjdk-7-jdk, mysql-server, glassfish-4 (>= 4.0)
Description: Sirocco broker server

