#!/usr/bin/make -f
# debian/rules for sirocco-server package, by
# Grégoire Lejeune <gregoire.lejeune@enovance.com>

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install
	cp -r usr debian/sirocco-server
	install -D -m 0664 mysql.sql debian/sirocco-server/usr/share/dbconfig-common/data/sirocco-server/install/mysql

override_dh_auto_build:
	dh_auto_build
	chmod +x debian/insert_include
	./debian/insert_include PARSE-XML-INCLUDE xml_parser postinst
	./debian/insert_include PARSE-XML-INCLUDE xml_parser config
