#!/usr/bin/make -f
# debian/rules for sirocco-server package, by
# Grégoire Lejeune <gregoire.lejeune@enovance.com>

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_install:
	dh_install
	cp -r usr debian/sirocco-server
	cp -r etc debian/sirocco-server
	cp mysql.sql debian/sirocco-server/usr/share/dbconfig-common/data/sirocco-server/install/mysql

override_dh_auto_build:
	dh_auto_build
	./insert_include PARSE-XML-INCLUDE xml_parser postinst
	./insert_include PARSE-XML-INCLUDE xml_parser config
