<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
 <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>/tmp/sirocco.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>/tmp/sirocco.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
  <layout class="ch.qos.logback.classic.PatternLayout">
   <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
  </layout>
 </appender>
 
 <root>
  <level value="INFO" />
  <appender-ref ref="FILE" />
 </root>
</configuration>
